<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="onToggleSidenav()">
      Menu
    </button>
    <span>{{ title }}!</span>
    <span class="fill-remaining-space"></span>
    <div class="header-button-row">
      <a *ngIf="!(isLoggedIn | async)" mat-button color="warn" routerLink="register">Register</a>
      <a *ngIf="!(isLoggedIn | async)" mat-button color="warn" routerLink="login">Login</a>
      <a *ngIf="isLoggedIn | async" mat-button color="warn" routerLink="home">Home</a>
      <a *ngIf="isLoggedIn | async" mat-button color="warn" routerLink="account/profile">Profile</a>
      <a *ngIf="isLoggedIn | async" mat-button color="warn" (click)="onLogout()">Logout</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
