.header-button-row button,
.header-button-row a {
  margin-right: 8px;
}

mat-toolbar, mat-toolbar-row {
  position: fixed;
  left: 0em;
  top: 0em;
  z-index: 99;
}
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.logo {
  max-width: 7em;
}
