<div class="component">
  <div>
      Service providers
      <mat-grid-list cols="4" rowHeight="2:3" gutterSize="1em">
        <mat-grid-tile *ngFor="let sp of serviceProviders" [colspan]="1" [rowspan]="1">
          <mat-card class="list-item-card">
            <mat-card-header>
              <mat-card-title><a mat-button color="accent" routerLink="/service-provider/{{sp._id}}">{{sp.displayName}}</a></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://placeimg.com/640/480/any" alt="Placeholder image">
            <mat-card-content>
              <p>{{sp.description}}</p>
            </mat-card-content>
            <span *ngFor="let category of sp.categories">
              <a mat-button color="warn" routerLink="/home">{{category.name}}</a>
            </span>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
  </div>
</div>
