.component {
  margin: 2em 10em;
}

.list-item-card {
  min-width: 20em;
  margin-bottom: 2em;
}

.search-form {
  width: 100%;
}

.btn-search {
  width: 100%;
}

mat-form-field {
  margin-right: 1em;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
  }
}

mat-jumbotron-content {
  background-image: url("http://localhost:3000/images/cover/Coverpage.png");
  background-size: cover;
}
/*
#visibilityContainer ::ng-deep ::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

#visibilityContainer ::ng-deep ::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.26) !important;
}

#visibilityContainer ::ng-deep ::-webkit-scrollbar-thumb {
    background: red;
}
*/
