<div class="component">
  <h1 class="mat-display-1">Explore service provider</h1>

  <div fxLayout="column" fxLayout.lt-sm="column" fxLayoutGap="0.5em">
    <mat-card
      fxFlex="4 0 98%"
      class="list-item-card">
      <mat-card-header fxLayoutAlign="flex-start">
        <mat-card-title><div class="mat-headline"><a mat-button color="accent">{{serviceProvider?.displayName}}</a></div></mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="0.5em">
        <img
          fxFlex="4 0 19%"
          fxFlex.lt-lg-="2 0 calc(50%)"
          fxFlex.lt-sm="1 0 calc(100%)"
          src="https://placeimg.com/320/240/any"
          alt="Placeholder image">
        <div class="mat-body"
          fxFlex="4 0 79%"
          fxFlex.lt-lg-="2 0 calc(50%)"
          fxFlex.lt-sm="1 0 calc(100%)">{{serviceProvider?.description}}
        </div>
      </mat-card-content>
      <span *ngFor="let category of serviceProvider?.categories">
        <a mat-button color="warn" routerLink="/home">{{category?.name}}</a>
      </span>
    </mat-card>
  </div>
</div>
