.component {
    margin: 0 5em;
    min-height: 100%;
    height: 100%;
}

.field-full-width {
  width: 100%;
}

.contact-us {
  width: 100%;
}

.btn-contact {
  width: 100%;
}

.service-provider-banner {
}

.list-item-card {
  min-width: 20em;
  margin-bottom: 2em;
}
