<div class="component">
  <div fxLayout="column" fxLayout.lt-sm="column" fxLayoutGap="0.5em">
    <mat-card class="service-provider-banner">
      <img mat-card-image class="service-provider-banner" src="http://localhost:3000/images/servitor/Interior Design (MAG design + MAG builders)/Cover Photo.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>


    <mat-card
      fxFlex="4 0 98%"
      class="list-item-card">
      <mat-card-header fxLayoutAlign="flex-start">
        <mat-card-title>
          <div fxLayout="row" fxLayoutAlign="center center">
          <h2 class="mat-h2">{{serviceProvider?.displayName}}</h2>
        </div></mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="0.5em">
        <img
          fxFlex="4 0 19%"
          fxFlex.lt-lg-="2 0 calc(50%)"
          fxFlex.lt-sm="1 0 calc(100%)"
          src="https://placeimg.com/320/240/any"
          alt="Placeholder image">
        <div class="mat-body"
          fxFlex="4 0 79%"
          fxFlex.lt-lg-="2 0 calc(50%)"
          fxFlex.lt-sm="1 0 calc(100%)">
          {{serviceProvider?.description}}
        </div>
      </mat-card-content>
      <span *ngFor="let category of serviceProvider?.categories">
        <a mat-button color="accent" routerLink="/home">{{category?.name}}</a>
      </span>
      <mat-card-actions>
        <mat-accordion class="contact-us">
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Contact us
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list>
              <mat-list-item>
                <button [disabled]="loading" mat-flat-button color="primary" class="btn btn-primary btn-contact">Send message</button>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-label class="field-full-width" >Phone number</mat-label>
                <mat-label class="field-full-width" >123-4567901</mat-label>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-label class="field-full-width" >Email</mat-label>
                <mat-label class="field-full-width" ><a href="mailto:email@email.com">email@email.com</a></mat-label>
              </mat-list-item>
            </mat-list>

          </mat-expansion-panel>
        </mat-accordion>
        <button mat-button>Favorite<mat-icon color="accent">favorite</mat-icon></button>
        <button mat-button>Share<mat-icon color="accent">share</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <h2 class="mat-h2">Gallery</h2>
  </div>

  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="0.5em">
    <mat-card
      fxFlex="4 0 20%"
      fxFlex.lt-md-="2 0 calc(50%)"
      fxFlex.lt-sm="1 0 calc(100%)"
      class="list-item-card">
      <mat-card-header fxLayoutAlign="flex-start">
      </mat-card-header>
      <img mat-card-image
        src="http://localhost:3000/images/servitor/Interior Design (MAG design + MAG builders)/Photo 1.jpg"
        alt="Placeholder image">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>

    <mat-card
      fxFlex="4 0 20%"
      fxFlex.lt-md-="2 0 calc(50%)"
      fxFlex.lt-sm="1 0 calc(100%)"
      class="list-item-card">
      <mat-card-header fxLayoutAlign="flex-start">
      </mat-card-header>
      <img mat-card-image
        src="http://localhost:3000/images/servitor/Interior Design (MAG design + MAG builders)/Photo 2.jpg"
        alt="Placeholder image">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>

    <mat-card
      fxFlex="4 0 20%"
      fxFlex.lt-md-="2 0 calc(50%)"
      fxFlex.lt-sm="1 0 calc(100%)"
      class="list-item-card">
      <mat-card-header fxLayoutAlign="flex-start">
      </mat-card-header>
      <img mat-card-image
        src="http://localhost:3000/images/servitor/Interior Design (MAG design + MAG builders)/Photo 3.jpg"
        alt="Placeholder image">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>

    <mat-card
      fxFlex="4 0 20%"
      fxFlex.lt-md-="2 0 calc(50%)"
      fxFlex.lt-sm="1 0 calc(100%)"
      class="list-item-card">
      <mat-card-header fxLayoutAlign="flex-start">
      </mat-card-header>
      <img mat-card-image
        src="http://localhost:3000/images/servitor/Interior Design (MAG design + MAG builders)/Photo 4.jpg"
        alt="Placeholder image">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>

    <mat-card
      fxFlex="4 0 20%"
      fxFlex.lt-md-="2 0 calc(50%)"
      fxFlex.lt-sm="1 0 calc(100%)"
      class="list-item-card">
      <mat-card-header fxLayoutAlign="flex-start">
      </mat-card-header>
      <img mat-card-image
        src="http://localhost:3000/images/servitor/Interior Design (MAG design + MAG builders)/Photo 5.jpg"
        alt="Placeholder image">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>

    <mat-card
      fxFlex="4 0 20%"
      fxFlex.lt-md-="2 0 calc(50%)"
      fxFlex.lt-sm="1 0 calc(100%)"
      class="list-item-card">
      <mat-card-header fxLayoutAlign="flex-start">
      </mat-card-header>
      <img mat-card-image
        src="http://localhost:3000/images/servitor/Interior Design (MAG design + MAG builders)/Photo 6.jpg"
        alt="Placeholder image">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>

    <mat-card
      fxFlex="4 0 20%"
      fxFlex.lt-md-="2 0 calc(50%)"
      fxFlex.lt-sm="1 0 calc(100%)"
      class="list-item-card">
      <mat-card-header fxLayoutAlign="flex-start">
      </mat-card-header>
      <img mat-card-image
        src="http://localhost:3000/images/servitor/Interior Design (MAG design + MAG builders)/Photo 7.jpg"
        alt="Placeholder image">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>

    <mat-card
      fxFlex="4 0 20%"
      fxFlex.lt-md-="2 0 calc(50%)"
      fxFlex.lt-sm="1 0 calc(100%)"
      class="list-item-card">
      <mat-card-header fxLayoutAlign="flex-start">
      </mat-card-header>
      <img mat-card-image
        src="http://localhost:3000/images/servitor/Interior Design (MAG design + MAG builders)/Photo 8.jpg"
        alt="Placeholder image">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>

  </div>

</div>
