.component {
    margin: 5em 10em;
}

.register-container {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 500px;
}

.register-container > * {
  width: 100%;
}

.field-full-width {
  width: 100%;
}

.register-form {
  width: 100%;
}
